<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spade.ja">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".JaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Home.HomeActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.authentication.AuthenticationActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.Home.events.filterevents.FilterEventActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.Home.directory.venues.filtervenues.FilterVenueActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.Home.profile.edit.EditActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.Home.eventsinner.EventInnerActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.Home.venueinner.VenueInnerActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.Home.attractioninner.AttractionInnerActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.Home.profile.settings.SettingsActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d8d813b2ac8c7c7e9b61cbb0359a8de4af26d604" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCbhmCfvgQNdwwojqB9u_14semkBmTokaU" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Home.map.MapActivity" />
    </application>

</manifest>